<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            Create a new note
        </h1>

        <input #noteTitleInput class="input has-background-light is-medium" type="text" placeholder="Create a new note...">

        <div class="buttons is-right" style="margin-top: 15px;">
            <div class="button is-primary is-medium has-text-white" routerLink="../">
                CANCEL
            </div>
            
            <div class="button is-primary is-medium has-text-white" (click)="createNote(noteTitleInput.value)">
                CREATE
            </div>
        </div>
    </div>
</div>