<div class="screen">
    <div class="centered-content">
        <div class="notes-manager-contianer">
            <div class="notes-header">
                <h1 class="notes-headline has-text-primary" *ngIf="note">
                    {{ note.title }}
                </h1>
                <div class="saved">
                    <img class="icon" src="../../../assets/comment-check-kostenloser-iconfont.png" [ngClass]="{'completed': completed}">
                    <p class="note-text" [ngClass]="{'completed': completed}">
                        Saved successfully!
                    </p>

                    <button class="button is-primary has-text-white" (click)="updateNote(note, InputTextArea.value)">
                        Save
                    </button>
                </div>
                

                
            </div>
            <div class="notes-body">
                <div class="content-container">
                    <textarea #InputTextArea class="textarea is-primary" value={{note.content}} ></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <div class="menubar">
        <div class="menubar-split">
            <h1 class="headline has-text-primary">
                LIFEPLANNER
            </h1>

            <img class="logo" src="../../../assets/personliche-entwicklung.png">

            <button class="menu-item button has-text-primary" routerLink="/task-manager/lists">
                TASK MANAGER
            </button>

            <button class="menu-item button has-text-primary" routerLink="/boosted">
                BOOSTED
            </button>

            <button class="menu-item button has-text-primary" routerLink="/notes">
                NOTES
            </button>

        </div>
    </div>
</div>
