<div class="screen">
    <div class="centered-content">
        <div class="notes-manager-contianer">
            <div class="notes-header">
                <h1 class="notes-headline has-text-primary">
                    NOTES
                </h1>
                <button class="button is-primary has-text-white">
                    Create new note
                </button>
            </div>
            <div class="notes-body">
                <div class="grid-container">
                    <div class="notes-item" *ngFor="let note of notes">
                        <h1 class="notes-headline has-text-primary">
                            {{ note.title }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="menubar">
        <div class="menubar-split">
            <h1 class="headline has-text-primary">
                LIFEPLANNER
            </h1>

            <img class="logo" src="../../../assets/personliche-entwicklung.png">

            <button class="menu-item button has-text-primary" routerLink="/task-manager/lists">
                TASK MANAGER
            </button>

            <button class="menu-item button has-text-primary" routerLink="/boosted">
                BOOSTED
            </button>

            <button class="menu-item button has-text-primary" routerLink="/notes">
                NOTES
            </button>

        </div>
       
    </div>
</div>
