<div class="screen">
    <div class="centered-content">
        <h1>
            WORKING ON
        </h1>
    </div>
    
    <div class="menubar">
        <div class="menubar-split">
            <h1 class="headline has-text-primary">
                LIFEPLANNER
            </h1>

            <img class="logo" src="../../../assets/personliche-entwicklung.png">

            <button class="menu-item button has-text-primary" routerLink="/task-manager/lists">
                TASK MANAGER
            </button>

            <button class="menu-item button has-text-primary" routerLink="/boosted">
                BOOSTED
            </button>

            <button class="menu-item button has-text-primary">
                NOTES
            </button>

        </div>
       
    </div>
</div>
