<div class="screen">
    <div class="centered-content">
        <div class="task-manager-contianer">
    
            <div class="sidebar has-background-white">
    
                <p class="title has-text-primary">
                    {{task.title}}
                </p>
    
            </div>
    
            <div class="task-list-container">
                    <p class="text">
                        Task title: 
                        <br>
                        <br>
                        {{task.title}}
                        <br>
                        <br>

                    </p>

                    <p class="text">
                        Description:
                        <br>
                        <br>
                        {{task.description}}
                    </p>

                    <button class="circle button is-primary"  routerLink="../">
                        <img src="../../../assets/pfeil-nach-links.png" routerLink="../">
                    </button>

            </div>
    
        </div>
    </div>
</div>
