<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            Create a new task
        </h1>

        <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Create a new task...">

       <div class="description">
            <p class="text">
                Add a description:
            </p>

            <textarea #taskDescriptionInput class="textarea has-background-light is-medium" placeholder="Enter here your description..."></textarea>
       </div>
        


        <div class="buttons is-right" style="margin-top: 15px;">
            <div class="button is-primary is-medium has-text-white" (click)="navigateBack()">
                CANCEL
            </div>
            
            <div class="button is-primary is-medium has-text-white"  (click)="createTask(taskTitleInput.value, taskDescriptionInput.value)">
                CREATE
            </div>
        </div>
    </div>
</div>