<div class="centered-content">
    <div class="task-mangager-container">

        <div class="sidebar has-background-white">

            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item">
                    List #1
                </a>

                <a class="list-menu-item">
                    List #2
                </a>

                <a class="list-menu-item">
                    List #3
                </a>
            </div>

            <button class="button is-primary has-text-white">
                + New List
            </button>

        </div>

        <div class="task-list-container">

            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <!--- Tasks Elements -->
            <p class="task">
                Do that!
            </p>
            <p class="task">
                Do that!
            </p>
            <p class="task complete">
                Do that!
            </p>
        </div>

    </div>
</div>